
.counter {
    width: fit-content;
    font-family: 'Segoe UI';
    background-color : palegoldenrod;
    margin-left: 4mm;
    }
h1{
    color : rgb(139, 91, 158);
    font-family: 'Segoe UI';
    font-style: oblique;
    text-align: center;
}
label{
    font-family: 'Segoe UI';
    font-style: oblique;
}
th,td {
    border: 1px solid #999;
    font-family: 'Segoe UI';
  padding: 0.5rem;
  border-color: lightcoral;
  text-align: left;
  }
  thead{
      background-color: lightcoral;
  }
.SubmitBtn{
    align-items: center;
    background-color: rgb(197, 169, 169);
    width: 2cm;
    font-family: 'Segoe UI';
}
.dropdown{
      background-color:lightcoral;
      width: 15%;
      font-family:'Segoe UI';
      font-style: oblique;
      position: relative;
      display: inline-block;
}
.inputform{
    border: 3px solid white;
    background-color:rgb(226, 150, 150)
}
.login {
    font-family: 'Segoe UI';
    text-align: center;
    display: -moz-inline-stack;
    padding-top: 1cm;  
}